
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="panel-header bg-primary-gradient">
      <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div>
            <h2 class="text-white pb-2 fw-bold">History</h2>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="card full-height">
            <div class="card-header">
              <div class="card-title">Activity</div>
            </div>
            <div class="card-body">
              <ol class="activity-feed">
                <li class="feed-item feed-item-secondary">
                  <time class="date" datetime="9-25">Jan 25</time>
                  <span class="text">Responded to need <a href="#">"New Global Risk Identified"</a></span>
                </li>
                <li class="feed-item feed-item-success">
                  <time class="date" datetime="9-24">Jan 24</time>
                  <span class="text">Added an interest <a href="#">"Risk Response C_A1_1 Approved"</a></span>
                </li>
                <li class="feed-item feed-item-info">
                  <time class="date" datetime="9-23">Dec 18</time>
                  <span class="text">Joined the group <a href="single-group.php">"Please update your Risk Responses on Operating Risk"</a></span>
                </li>
                <li class="feed-item feed-item-warning">
                  <time class="date" datetime="9-21">Dec 15</time>
                  <span class="text">Responded to need <a href="#">"Dashboard updated"</a></span>
                </li>
                <li class="feed-item feed-item-danger">
                  <time class="date" datetime="9-18">Nov 28</time>
                  <span class="text">Created need <a href="#">"New OPCO: "Alkmaar Brewery" Joined"</a></span>
                </li>
                 <li class="feed-item feed-item-secondary">
                  <time class="date" datetime="9-25">Oct 12</time>
                  <span class="text">Responded to need <a href="#">"New Region Risk Identified"</a></span>
                </li>
                <li class="feed-item feed-item-success">
                  <time class="date" datetime="9-24">Oct 4</time>
                  <span class="text">Added an interest <a href="#">"Risk Response C_B2_7 Approved"</a></span>
                </li>
                <li class="feed-item feed-item-info">
                  <time class="date" datetime="9-23">Aug 19</time>
                  <span class="text">Joined the group <a href="single-group.php">"Please update your Risk Responses on Compliance Risk"</a></span>
                </li>
                <li class="feed-item feed-item-warning">
                  <time class="date" datetime="9-21">Aug 15</time>
                  <span class="text">Responded to need <a href="#">"Approval reviewed"</a></span>
                </li>
                <li class="feed-item feed-item-danger">
                  <time class="date" datetime="9-18">Aug 10</time>
                  <span class="text">Created need <a href="#">"New OPCO: "Rotterdam Brewery" Joined"</a></span>
                </li>
              </ol>
            </div>
          </div>
        </div>

      </div>

{% endblock content %}